html,
body {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  overflow: hi;
}

body {
  display: flex;
}

h1 {
  text-align: center;
}

div#sidebar {
  width: 300px;
  overflow: scroll;
  padding: 16px;
}

div#canvasarea {
  flex-grow: 1;
  background: red;
  width: 10px;
}

div#sidebar input[type="text"] {
  width: 40px;
}

div#sidebar label {
  display: inline-block;
  width: 40px;
}

div#sidebar input[type="range"] {
  vertical-align: middle;
}